## Import Library

In [1]:
import numpy as np
import pandas as pd
from keras.models import load_model

Using TensorFlow backend.
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

## Load Model

In [2]:
model = load_model('GenderClassificationLSTMModel')
model.summary()

WARNING:tensorflow:From C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\elmayo\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\Users\elmayo\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 32, 512)           1107968
_________________________________________________________________
dropout_1 (Dropout)          (None, 32, 512)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 512)               2099200
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 1026
_________________________________________________________________
activation_1 (Activation)    (None, 2)                 0
=================================================================
Total params: 3,208,194
Trainable params: 3,208,194
Non-trainable params: 0
_________________________________________________________________

## method one hot encode

In [3]:
def one_hot_encode(i):
    temp = np.zeros(28)
    temp[i] = 1
    return temp

## index huruf dan maksimal inputan

In [4]:
index = {'s': 0,'p': 1,'z': 2,'a': 3,'q': 4,'x': 5,'j': 6,'g': 7,'i': 8,'y': 9,'c': 10,'h': 11,'d': 12,'u': 13,'r': 14,'b': 15, 't': 16,'v': 17,'k': 18,
'o': 19,
'f': 20,
'm': 21,
'l': 22,
'n': 23,
' ': 24,
'END': 25,
'w': 26,
'e': 27}
maxlen = 32

## Testing

In [5]:
testing = ["michael","michelle","dhanika","krisna","kresna","axel","elan","putra","jonathan","kevin","thoriq"]
x=[]
for i in testing:
    temp =[one_hot_encode(index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        temp.append(one_hot_encode(index["END"]))
    x.append(temp)
hehe = model.predict(np.asarray(x))
print("Probabilitas jenis kelamin  :")
haha = pd.DataFrame(hehe, columns =["Male","Female"])
haha

Probabilitas jenis kelamin  :

        Male    Female
0   0.995606  0.004394
1   0.448925  0.551075
2   0.523696  0.476304
3   0.200218  0.799782
4   0.466438  0.533562
5   0.865096  0.134904
6   0.939571  0.060429
7   0.902500  0.097500
8   0.971182  0.028818
9   0.249048  0.750952
10  0.999415  0.000585

## Hasil Predict

In [6]:
y = []
for i in hehe:
    if i[0] > i[1]:
        y.append("laki-laki")
    else:
        y.append("perempuan")
res = []
for name, predict in zip(testing,y):
    res.append({"nama":name, "predict":predict})
res

[{'nama': 'michael', 'predict': 'laki-laki'},
 {'nama': 'michelle', 'predict': 'perempuan'},
 {'nama': 'dhanika', 'predict': 'laki-laki'},
 {'nama': 'krisna', 'predict': 'perempuan'},
 {'nama': 'kresna', 'predict': 'perempuan'},
 {'nama': 'axel', 'predict': 'laki-laki'},
 {'nama': 'elan', 'predict': 'laki-laki'},
 {'nama': 'putra', 'predict': 'laki-laki'},
 {'nama': 'jonathan', 'predict': 'laki-laki'},
 {'nama': 'kevin', 'predict': 'perempuan'},
 {'nama': 'thoriq', 'predict': 'laki-laki'}]